.about-box {
    height: 100vh;
}

.float {
    width: 50%;
    float: left;

}

.image-box {
    height: 100%;
    background: linear-gradient(to right bottom, #b9bbc7, #01041E);
    overflow: hidden;
}

.about-img {
    display: hidden;
}

.text-box {
    background-color: #01041E;
    height: 100%;
    color: white;
    text-align: center; 
    justify-content: center;
    display: block;
}

.some-text {
    margin-top: 40%;
}