.hero-section {
    /* position: relative; */
    height: 90vh;
    background: linear-gradient(to bottom, #04011ee5, #01041e81) ,url('https://images.unsplash.com/photo-1643330683233-ff2ac89b002c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
    background-position: center;
    background-size: cover;
    text-align: center;
    align-items: center;
    /* overflow-y:hidden; */
}

.hero {
    width: 100%;
    height: 600px;
    object-fit:contain;
}



.hero-text {
    text-align: center;
    margin-top: 50px;
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    text-align: center;
}

.hero-text-main{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
}

.hero-text-sub {
    margin-top: 20px;
    color: white;
    font-size: 15px;
}

.get-started {
    position: relative;
    border: solid white;
    border-radius: 100px;
    top: 10rem;
    display: inline-block ;
    font-size: 20px;
    color: white;
    justify-content: center;
}

.home-input {
    padding: 2px 10px;
    border-radius: 100px;
}

.form-extra{
    margin-top: 30%;
}

.extra{
    padding: 10px 25px;
    background-color: #fff;
    border: 1px solid #ddd;
}