.navbar-items{
    /* background: #01012c; */
    background: #060520;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 2rem;
    list-style: none;
    align-items: center;
}

.nav-links:active, .nav-links:hover{
    text-decoration: underline;
}

.nav-links{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}

.contact-link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}

/* .header-menu{
    display: none;
} */

@media (max-width: 770px) {
    nav{
        width: 100%;
        padding: 1rem 2rem;
        position: fixed;
        z-index: 999;
        justify-content: space-between;
    }
    .nav-links, .nav-menu{
        display: block;
        z-index: 999;
        line-height: 50px;
    }

    nav ul{
        position: fixed;
        width: 30%;
        height: 100vh;
        background: #01011a;
        text-align: center;
        top: 90px;
        right: 0;
    }

    .header-menu{
        display: flex;
    }
    .navbar-items{
        padding: 2rem 2rem;
    }
    .contact-link{
        display: none;
    }
}