.float {
    width: 50%;
    float: left;

}

.image-box {
    height: 600px;
    background: linear-gradient(to right bottom, #01041E, #01041E);
}

.text-box {
    background-color: #01041E;
    height: 600px;
    color: red;
    text-align: center;
    justify-content: center;
    display: block;
}

.some-text {
    margin-top: 14rem;
}