.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #01041E;
    color: white;
    font-size: 11px;
    padding: 0px 20px;
}

.smart{
    color: gray;
}

.link{
    color: white;
    text-decoration: none;
}